
.article{
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black; */
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.article__content{
    width: 100%;
    background-color: inherit;
    color: inherit;
    
}

.article__title{
    font-size: 30px;
    padding: 50px 0;
    font-family: 'Holtwood one SC', cursive;
    text-align: center;
    color:inherit;
    
}

.article p{
    color: inherit;

}

.article__container__box-1{
    background-color: inherit;
    color: inherit;
    margin: 10px;
    padding: 40px;
    text-align: center;
    margin:  auto;
    order:2;
}

.article__container__box-1 img{
    margin: 0;
    padding: 0;
    max-height: 480px;
    border-radius: 20px;
    
}
.article__container__box-2{
    background-color: inherit;
    color: inherit;
    margin: 10px;
    padding: 40px;
    font-size: 20px;
}

@media (max-width:1000px)
{
.article{
    display: flex;
    flex-direction: column;
}

.article__container__box-1 img{
    height: auto;
    width: 100%;
}
}
