.title{
    text-align: center;
    background-color: inherit;
    padding: 20px;
    color: inherit;
}

.title h2{
    font-size: 40px;
    color: inherit;
}

.title p{
    font-size: 30px;
    color: inherit;
}

.article2{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns:33.33% 33.33% 33.33%;
    background-color: inherit;
    padding: 20px;
}

.article2__box1{
    text-align: center;
    padding: 20px;
    background-color:inherit;
    color: inherit;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 4px 8px 0 rgb(228, 228, 228);
    
    /* animation-name: BoxShadow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */

}

.article2__box1:hover{
    animation: rotate 4s linear infinite;    
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(5deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(-5deg);}
}

@keyframes BoxShadow{
    0%{box-shadow: 0 4px 8px 2px green;}
    25%{box-shadow: 0 4px 8px 2px red;}
    50%{box-shadow: 0 4px 8px 2px purple;}
    75%{box-shadow: 0 4px 8px 2px hotpink;}
    100%{box-shadow: 0 4px 8px 2px darkgreen;}
}

.article2__box1 img{
 width: 90%;
 color: inherit;
 border-radius: 20px;

}

.article2__box1 p{
    font-size: 20px;
    background-color: inherit;
    width: 90%;
}

@media (max-width:1000px)
{
    .article2{
        display: flex;
        flex-direction: column;
    }
    

    .article2__box1{
        padding: 0;
        margin: 20px 0;
    }

    .article2__box1 img{
        width: 90%;
        height: auto;
    }

    .title h2{
        font-size: 24px;
    }

    .title p{
        font-size: 18px;
    }

    .article2__box1 p{
        font-size: 16px;
    }
  
}
