.Button{
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: inherit;
    margin: 4px 10px;
    font-family: 'Holtwood one SC',cursive;
    transition: .5s ease-in;

}
.Button:hover{
    border:1px solid purple;
    border-radius: 10px;
}

@media (max-width:1000px)
{
    .Button{

    }
}