.Button{
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: inherit;
    margin: 4px 10px;
    font-family: 'Holtwood one SC',cursive;
    transition: .5s ;

    border:2px solid white;
}
.Button:hover{
    border:2px solid purple;
}

@media (max-width:1000px)
{
    .Button{

    }
}