.Button:hover{
    background-color: rebeccapurple;
    border-radius: 8px;
}


.Button{
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: inherit;
    margin: 0px 10px;
    font-family: 'Holtwood one SC',cursive;
}

@media (max-width:1000px)
{
    .Button{

    }
}