.Header img{
    width: 50px;
    margin: 0px 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.Header{
    position: sticky;
    top: 0;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
    background-color: inherit;
    z-index: 1;
}

.header__right{
    float: right;
    text-align: center;
    padding: 20px;
}

.Header a{
    text-decoration: none;
    color: inherit;

}

.header__logo{
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    margin-right: auto;
    font-family: 'Holtwood one SC';
}




