.News{
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;

    box-shadow: 0 4px 8px 0 rgb(228, 228, 228);

    transition: 0.5s;

}

.News:hover{
    transform: scale(1.05);
}

.News a{
    color: inherit;
    list-style: none;
    text-decoration: none;
}

.News img{
    width:80%;
    height: auto;
    border-radius: 4%;
}

.News h2{
    width: 80%;
    text-align: center;
    font-weight: 80%;

}
.News p{
    width: 80%;
    text-align: center;
    font-size: 16px;
}

.read__more{
    color: purple;
}

