.Parallex{
    /* background-image: url('../../images/Container__18.jpeg'); */
    min-height: 800px;
    background-size: cover;
    background-attachment: fixed;
    image-resolution: 1366px 768px;
    background-position: center;
    color: white;

}

.parallex__text{
    text-align:center;
    position:absolute;
    width: 100%;
    top:40%;
    color: inherit;
}

.parallex__text h1{
    font-size: 40px;
    font-family: 'Holtwood one SC',cursive;
}

.parallex__text p{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Holtwood one SC',cursive;
}

@media (max-width:750px)
{
    .Parallex{
        min-height: 500px;
        background-attachment: scroll;
    }
    .parallex__text{
    top: 20%;
    }
}