
.spinner{
    height: 40px;
    width: 40px;

    border:8px solid white;
    border-top: 8px solid red;
    border-radius: 50%;

    animation: spin 2s linear infinite;

}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}