body {
  margin: 0;
  font-family: 'Ubuntu' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background-color: white;
  color: black;

  transition: 0.5s;
}

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-track{
  background-color: black;
  position:absolute;

}

body::-webkit-scrollbar-thumb{
  background-color:purple;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: rebeccapurple;
}